body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header img {
    width: 50%;
    height: auto;
}

header {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
}

/* Hamburger Menu */
#menu {
    font-size: 1.5rem;
    border: 1px solid rgba (0, 0, 0, 3);
    padding: 3px 7px 6px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}