body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header img {
    width: 50%;
    height: auto;
}

header {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
}