body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header img {
    width: 50%;
    height: auto;
}

header {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
}

/* Hamburger Menu */
#menu {
    font-size: 1.5rem;
    border: 1px solid rgba (0, 0, 0, 3);
    padding: 3px 7px 6px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation li a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active::before {
    content: "📍 ";
}

.stuff {
    margin: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #bed;
    max-width: 580px;
    height: 100vh;
}