 @import url("https://fonts.google.com/specimen/Salsa");
 @import url("https://fonts.google.com/specimen/Ubuntu");
 @import url("https://fonts.google.com/specimen/Roboto");
 @import url("https://fonts.google.com/specimen/Montserrat");

 h1 {
     font-family: "Roboto", ;
     color: black;
     margin: auto;
     max-width: 800px;

 }

 main {
     font-family: "Montserrat";
     color: wheat;
     background-color: #219EBC;
     max-width: 800px;
     margin: auto;
 }

 header {
     display: grid;
     margin: auto;
     max-width: 800px;
     grid-template-columns: 1fr 1fr;
     background-color: #023047;

 }

 body {
     background-color: #023047;

 }

 nav {
     margin-bottom: 20px;
     background-color: #219EBC;

 }

 footer {
     margin: auto;
     background-color: #219EBC;
     max-width: 800px;
     text-align: center;
 }

 ul {
     list-style-type: none;
 }

 h3 {
     color: black;
     text-align: center;
 }

 h2 {
     text-align: center;
 }